@font-face {
    font-family: "Juicebox";
    src: url("./fonts/Juicebox-nyO0.eot"); /* IE9 Compat Modes */
    src: url("./fonts/Juicebox-nyO0.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/Juicebox-nyO0.otf") format("opentype"), /* Open Type Font */
      url("./fonts/Juicebox-nyO0.svg") format("svg"), /* Legacy iOS */
      url("./fonts/Juicebox-nyO0.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/Juicebox-nyO0.woff") format("woff"), /* Modern Browsers */
      url("./fonts/Juicebox-nyO0.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

body {
    background: rgb(90, 87, 87);
    font-family: 'Montserrat', sans-serif;
}
.section-content {
    margin: 0;
    padding-top: 2.5rem;
}
.news-head {
    width: 100%;
    display: flex;
    margin-top: 7%;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    background:#246c72;
}
.news-head h1 {
    color: white;
    font-size: 1.3rem;
    font-family: 'Juicebox';
    letter-spacing: 0.2rem;
    text-align: center;
    margin: 0.3rem;
}
@media (min-width: 40rem) {
   .news-head {
       top: 9%;
   }
}

@media (min-width: 60rem) {
    .news-head {
        
        top: 10.55%;
        height: 50px;
        margin-left: 0;

    }
    .news-head h1 {
        font-size: 1.6rem;
        letter-spacing: 0.3rem;
        margin: 0.625rem;
    }
  
}
 
@media (min-width: 60rem) {
    
    .section-content {
         display: grid;
         grid-template-columns: 76% 24%;
         
    }
}
 
.conatiner1 {
    width: 100%;
    margin: 0 auto;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    padding-top: 2rem;
    box-sizing: border-box;
    
}

.card {
    position: relative;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    padding-top: 0.05rem;
    background: #fefff9;
    color: #363636;
    text-decoration: none;
    width: 55rem;
    max-width: 51rem;

}
.card:hover {
    background-color: #d5d5d2;
    box-shadow: 0 0 10px 5px rgba(87, 87, 87, 0.347);
    transition: all 0.2s ease-in-out;
  }

@media(min-width: 60rem) {
    .cards {
        margin-top: 8rem;
        padding-top: 2rem;
    }   
}
span {
        display: block;
    }
.card-summary {
        padding: 1rem 1rem 1rem 1rem;
        font-family: 'Montserrat', sans-serif;
    }
.card-header {
        position: relative;
        height: 14rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: rgba(white,.15);
        background-blend-mode: overlay;
    }
    
.card-title {
        background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
        padding: 0 0.7rem;
        color: white;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
.card-title h3 {
    margin: 0.2rem;
    font-size: 0.8rem;
}
@media (min-width: 40rem) {
    .card-title {
        text-align: center;
    }
    .card-title h3 {
        font-size: 1.3rem;
    }
}

.card-meta {
        max-height: 0;
        color: #666;
        font-size: 0.74rem;
        text-transform: uppercase;
        position: absolute;
        bottom: 12%;
        padding: 0 1rem;
      
    }
@media (min-width: 40rem) {
    .card-meta {
        font-size: 0.8rem;
    }
}

@media (max-width: 60rem) {
    .container2 {
        display: none;
    }
}

@media (min-width:60rem) {
    
    .container2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem 1rem;
        margin: 0rem;
       }
       .grid-title {
           display: flex;
           flex-direction: row;
           justify-content: center;
           background:  #012c30;
           margin-top: 18%;
    }

       .grid-title h1 {
        font-family: 'Juicebox';
        color: rgb(255, 253, 253);
        letter-spacing: 0.3rem;
        margin: 0.625rem;
       }
       .articles-container {
           margin-top: 2rem;
       }
       .art-style {
           display: flex;
       }
       .art-card {
           position: relative;
           margin-bottom: 1.5rem;
           padding-bottom: 2rem;
           padding-left: 0.1rem;
           padding-right: 0.1rem;
           padding-top: 0.05rem;
           background: #fefff9;
           color: #363636;
           text-decoration: none;
           width: 50rem;
           max-width: 50rem;
           display: flex;
           flex-direction: column;
           align-items: center;
         
       }
       .art-card:hover {
        background-color: #d5d5d2;
        box-shadow: 0 0 10px 5px rgba(87, 87, 87, 0.347);
        transition: all 0.2s ease-in-out;
      }
       .art-header {
           position: relative;
           height: 12rem;
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center;
           background-blend-mode: overlay;
       }
       
       .art-title {
           font-size: 1rem;
           padding: 0 0.2rem;
           margin: 0;
           color: white;
           background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
           font-family: 'Montserrat', sans-serif;
       }
       
       .art-title h4 {
           margin: 0rem;
       }
       
       .art-card__summary {
           padding: 0.2rem 0.2rem 0.2rem 0.2rem;
           font-size: 0.9rem;
           margin: 0.3rem;
           font-family: 'Montserrat', sans-serif;
       }
       
       .article-meta {
           max-height: 0;
           color: #666;
           font-size: 0.68rem;
           text-transform: uppercase;
           position: absolute;
           bottom: 10%;
           padding: 0 1rem;
         
       }
       
}

.social {
        color: rgb(0, 0, 0);
        font-size: 0.8rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.2rem;
        text-align: center;
        text-shadow: black 2px;
        font-weight: bolder;
}
.social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.social-icon {
    width: 30px;
    margin: 0 0.5rem;
    border-style: none;
}
.social-img {
    width: 100%;
    border-style: none;
}
@media ( min-width: 60rem) {
    .social {
        color: rgb(0, 0, 0);
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        letter-spacing: 0.2rem;
        text-align: center;
        text-shadow: black 2px;
        margin-top: 6rem;
        margin-bottom: 1rem;
}
.social-icon {
    width: 40px;
}

}

img {
    max-width: 100%;
}

body {
    background: #f0f0f0;
    font-size: 1.02rem;
    line-height: 1.4;
    font-family: sans-serif;
}