@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.news-content__title h1{
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 12rem;
    text-align: center;
    font-size: 2rem;
}

.post-content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem 1rem;
    font-size: 1.2rem;
}

@media (max-width: 57rem) {
    .news-content__title h1{
        margin-top: 8rem;
        font-size: 1.4rem;

    }
}

@media (max-width: 32rem) {
    .post-content {
        font-size: 1rem;
    }
}

.img-container {
    width: 96%;
    max-width: 809px;
    margin: 0 auto; /* to center the container */
  }
  img {
    width: 100%;
    height: auto;
  }
