@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    font-family: "Juicebox";
    src: url("./fonts/Juicebox-nyO0.eot"); /* IE9 Compat Modes */
    src: url("./fonts/Juicebox-nyO0.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/Juicebox-nyO0.otf") format("opentype"), /* Open Type Font */
      url("./fonts/Juicebox-nyO0.svg") format("svg"), /* Legacy iOS */
      url("./fonts/Juicebox-nyO0.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/Juicebox-nyO0.woff") format("woff"), /* Modern Browsers */
      url("./fonts/Juicebox-nyO0.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'weston_freeregular';
    src: url('./fonts/westonfree-regular-webfont.woff2') format('woff2'),
         url('./fonts/westonfree-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


*{
    box-sizing: border-box;
}

html {
    width: 100%;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}
main {
    width: 100%;
}

.main-header {
    width: 100%;
    padding: 0.25rem 0.4rem;
    margin-bottom: 0;
    position: fixed;
    background: rgb(0, 119, 174);
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header__item {
    font-weight: bold;
    font-family: 'Share Tech', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 0.158rem;
    vertical-align: middle;
   
}
.main-nav__item , .mobile-nav__item a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-family: 'Share Tech', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
}
@media (min-width: 40rem) {
    .main-nav {
        display: flex;
    }
    .main-header__item {
        font-size: 1.7rem;
    }
    .main-nav__item {
        font-size: 1.4rem;
    }
}
.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    background: rgb(0, 119, 174);
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;

}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.mobile-nav__item {
    margin: 0.5rem 0;
}

.main-header__item:hover,.main-header__item:active {
    color: #000000;
}

.main-nav__item:hover, .main-nav__item:active {
    color: black;
}
.mobile-nav__item a:hover, .mobile-nav__item a:active {
    color: rgb(29, 29, 29);
}

.toggle-button__bar {
    width: 100%;
    height: 0.18rem;
    background: rgb(255, 255, 255);
    display: block;
    margin: 0.3rem 0;
}
/*--javascript function class ---*/
.open {
    display: block;
}
/*------------------------------------ section parts------------------------------------------------------
--------------------------------------------------------------------------------------------------------------*/
.section-background {
    background-image: url('images/intoimage.jpg');
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 65% top;
    margin-top: 2rem;
    position: relative;
    width: 100%;
    height: 400px;
}

.intro-container {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    height: 400px;
}
.intro-box {
    grid-column-start: 2;
    grid-column-end: 3;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hello {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
    
}
.intro h1 {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'weston_freeregular';
    letter-spacing: 0.05rem;
    padding: 0.4rem 0.4rem;
    color: white;
    position: relative;
	background: #035379bd;
    border-radius: .4em;
    
}

.intro h1:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-right-color: #035379bd;
	border-left: 0;
	border-bottom: 0;
	margin-top: -7.5px;
	margin-left: -15px;
}

.intro a {
    text-decoration: none;
    border-style: none;
}
.btn {
    color: #0099CC; 
    background: transparent; 
    border: 2px solid #0099CC;
    border-radius: 6px; 
    border: none;      
    color: white;      
    padding: 4px 8px;      
    text-align: center;      
    display: inline-block;      
    font-size: 0.9rem;      
    margin: 4px 2px;      
    -webkit-transition-duration: 0.4s; /* Safari */      
    transition-duration: 0.4s;      
    cursor: pointer;      
    text-decoration: none;      
    text-transform: uppercase;
    animation: wiggle 1s 1.5s 20 ease-out none;
}

.btn {     
     background-color: white;  
     color: #008CBA;
     border: 2px solid #008CBA;
    }

.btn:hover {      
     background-color: #008CBA;      
     color: white; 
}

@media (min-width: 50rem) {
    .intro h1 {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        margin: 6rem;

    }
}

@media (max-width: 75rem) {
    .intro h1 {
        margin-left: 9rem;
    }
}

@media (max-width: 30rem) {
    .intro h1 {
        margin-left: 4rem;
    }
}

@media (max-width: 21rem) {
    .intro h1 {
        margin-left: 2rem;
    }
}


/*-----article highlights parts start-----------------------*/
.bg {
    background: rgb(255, 255, 255);
}
.conatiner1 {
    width: 100%;
    margin: 0 auto;
}

.highlights-title {
    font-family: 'Juicebox',sans-serif;
    color: rgb(0, 119, 174);
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    padding: 2rem;
    animation: flip-text 2s 3s 15 ease-out none ;
} 
.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    padding-top: 0.2rem;
    box-sizing: border-box;
    padding-bottom: 3rem;
    
}


.card {
    position: relative;
    margin: 1rem 1rem;
    padding-bottom: 3rem;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0rem;
    background: #ffffff;
    color: #363636;
    text-decoration: none;
    width: 90%;
    max-width: 51rem;

}


span {
        display: block;
    }
.card-summary {
        padding: 1rem 1rem 1rem 1rem;
    }
.card-header {
        position: relative;
        height: 14rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: rgba(white,.15);
        background-blend-mode: overlay;
    }
    
.card-title {
  	background: rgb(0, 119, 174);
        padding: 0 0.7rem;
        color: white;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
.card-title h3 {
    margin: 0.2rem;
    font-size: 0.8rem;
}


.card-meta {
        max-height: 0;
        color: #666;
        font-size: 0.74rem;
        text-transform: uppercase;
        position: absolute;
        bottom: 12%;
        padding: 0 1rem;
    }

.main-footer{
    margin-top: 0;
    padding-top: 5rem;
}

/*--------------------popularposts------------------------------*/
.bg-cont2 {
    background: rgb(255, 255, 255);
}
.container2 {
    margin: 1rem;
    padding: 1rem;
}

.container2 h1{
    font-family: 'Juicebox';
    letter-spacing: 0.2rem;
    color: #f10202ee;
    text-align: center;
    font-size: 1.6rem;
}

@media ( min-width: 40rem) {
    .container2 h1 {
        font-size: 1.9rem;
    }
    
}

.postcards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media (min-width: 59rem) {
    .postcards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      .postcard {
        flex-direction: row;
       
      }
  }
  
  .postcard {
    background: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(34, 35, 58, 0.582);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    position: relative;
    margin: 1rem 1rem;
    text-decoration: none;
    color: rgb(53, 52, 52);
  }

  
  .postcard h2 {
    margin: 0;
    padding: 0 1rem;
  }
  .postcard .desc {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  
  .postcard-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  .title-total {
    padding: 1em 1em 1em 1em;
  }
  
  path {
    fill: white;
  }
  
  .portada {
    width: 100%;
    min-width: 144px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-position: bottom center;
    background-size: cover;
  }
  .postcard-meta {
    max-height: 0;
    color: #666;
    font-size: 0.74rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 12%;
    right: 2%;
    padding: 0 1rem;
  }
  @media (max-width: 36rem) {
    .postcard-meta {
        font-size: 0.55rem;
        position: absolute;
        bottom: 8%;
        right: 2%;
      }
      .postcard .desc {
        font-size: 0.8rem;
        padding: 0.7rem;
        margin: 0.7rem;
    }
  }
  
  @media (min-width: 59rem) {
    .portada {
        width: 100%;
        height: 195px;
      }
  }
  
  @media (max-width: 29rem) {
    .postcard {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .title-total {
        padding: 0.1em 0.1em 0.1em 0.1em;
        display: flex;
        flex-direction: column;
      }
    .postcard h2{
        font-size: 1rem;
    }
    .postcard .desc {
        font-size: 0.8rem;
    }

  }
  

/*--------Responsive design part-----------------------*/

        /*--for laptop aand desktop and bigger devieces--*/
@media (min-width: 50rem) {
    .section-background {
        background-position: left 70% top;
        position: relative;
        width: 100%;
        height: 600px;
    }

    .welcome-textbox {
        padding-top: 1rem;
        margin-top: 3rem;
        margin-bottom: 0.2rem;
        width: 30%;
    }

    .welcome-text {
        font-size: 2rem;
        padding-left: 0.5rem;
        width: 80%;
        letter-spacing: 0.5rem;
    }
  
}
@media(min-width: 40rem) {
    .welcome-textbox {
        padding-top: 1rem;
        margin-top: 1rem;
        margin-bottom: 0.2rem;
        width: 30%;
    }

    .welcome-text {
        font-size: 1.8rem;
        padding-left: 0.5rem;
        width: 80%;
        letter-spacing: 0.5rem;
    }
  
}



@media (min-width: 50rem)   {
    .highlights-title {
        font-size: 2rem;
        margin-top: 0;
        padding-top: 2rem;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 0rem;
        padding-top: 0.2rem;
        box-sizing: border-box;
        
    }
    .card {
        position: relative;
        margin: 1rem 1rem;
        padding-bottom: 2rem;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0rem;
        background: #f3efef;
        color: #363636;
        text-decoration: none;
        width: 45%;
        max-width: 51rem;
    
    }
}
@media (min-width: 40rem) {
    .card-title {
        text-align: center;
    }
    .card-title h3 {
        font-size: 1.0rem;
    }
}

@media (min-width: 40rem) {
    .card-meta {
        font-size: 0.8rem;
    }
}


/*-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------*/
/* animation*/


@keyframes wiggle {
    0%  {
        transform: rotateZ(0);
    }
    50% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(10deg);
    }
}


@keyframes flip-text {
    0%  {
        transform: rotateY(180deg);
    }
  
    100% {
        transform: rotateY(0deg);
    }
}
 
