@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@font-face {
    font-family: 'batmanregular';
    src: url('fonts/batman-mrvm.woff2') format('woff2'),
        url('fonts/batman-mrvm.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avengeance_heroic_avengerIt';
    src: url('fonts/avengeanceheroicavengeritalic-3og3-webfont.woff') format('woff2'),
        url('fonts/avengeanceheroicavengeritalic-3og3-webfont.woff2') format('woff');
    font-weight: normal;
    /* importing custom font Avengence ( Avenger style fonts ) for headerbrand design and section title header */
}

@font-face {
    font-family: "Juicebox";
    src: url("./fonts/Juicebox-nyO0.eot");
    /* IE9 Compat Modes */
    src: url("./fonts/Juicebox-nyO0.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("./fonts/Juicebox-nyO0.otf") format("opentype"),
        /* Open Type Font */
        url("./fonts/Juicebox-nyO0.svg") format("svg"),
        /* Legacy iOS */
        url("./fonts/Juicebox-nyO0.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("./fonts/Juicebox-nyO0.woff") format("woff"),
        /* Modern Browsers */
        url("./fonts/Juicebox-nyO0.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SpaceRanger3D";
    src: url("fonts/SpaceRanger3D-MPpv.eot");
    /* IE9 Compat Modes */
    src: url("fonts/SpaceRanger3D-MPpv.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("fonts/SpaceRanger3D-MPpv.otf") format("opentype"),
        /* Open Type Font */
        url("fonts/SpaceRanger3D-MPpv.svg") format("svg"),
        /* Legacy iOS */
        url("fonts/SpaceRanger3D-MPpv.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("fonts/SpaceRanger3D-MPpv.woff") format("woff"),
        /* Modern Browsers */
        url("fonts/SpaceRanger3D-MPpv.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: bold;
    font-style: normal;
}

/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
    font-family: "Heroes Assemble 3D Regular";
    src: url("fonts/heroesassemble3d.eot") format("eot"),
        url("fonts/heroesassemble3d.woff") format("woff"),
        url("fonts/heroesassemble3d.ttf") format("truetype"),
        url("fonts/heroesassemble3d.svg") format("svg");
    font-weight: bolder;
    font-style: normal;
}


* {
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    width: 100%;
    margin: 0;
    background: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

main {
    width: 100%;
}

/*------------- start of header and navbar parts------------------------------------------------------------
--------------------------------------------------------------------------------------------------------*/

.main-header {
    width: 100%;
    padding: 0.25rem 0.4rem;
    padding-bottom: 0.7rem;
    margin-bottom: 0;
    position: fixed;
    background: rgb(0, 119, 174);
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.main-header__item {
    font-weight: bold;
    font-family: 'Share Tech', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 0.158rem;
    vertical-align: middle;
}

.main-nav {
    display: none;
}

.main-nav__items {
    list-style: none;
    display: flex;
}

.main-nav__item__list {
    display: inline-block;
    margin: 0 0.5rem;
}

.main-nav__item {
    text-decoration: none;
    color: rgb(255, 254, 254);
    font-family: 'Share Tech', sans-serif;
    letter-spacing: 1px;
    font-size: 1.8rem;
    font-weight: lighter;
}

.main-nav__item,
.mobile-nav__item a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-family: 'Share Tech', sans-serif;
    letter-spacing: 1px;
    font-weight: lighter;
}

.main-nav__item:hover,
.main-nav__item:active,
.mobile-nav__item a:hover,
.mobile-nav__item a:active {
    color: rgb(0, 0, 0);
}

.main-header__item:hover,
.main-header__item:active {
    color: #000000;
}

hr {
    margin: 0;
    width: 100%;
    padding: 0;
}

@media (min-width: 40rem) {
    .main-nav {
        display: flex;
    }

    .main-header__item {
        font-size: 1.7rem;
    }

    .main-nav__item {
        font-size: 1.4rem;
    }
}

/*---------------------------end of header and navbar parts---------------------------------------------------
------------------------------------------  Mobile nav parts------------------------------------------------*/

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    background-image: linear-gradient(to right, #076b6b, #4fe0fa);
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;

}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.mobile-nav__item {
    margin: 0.5rem 0;
}

/* ----------------------------toogle button styles---------------*/
.toggle-button {
    width: 2.2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.18rem;
    background: rgb(255, 255, 255);
    display: block;
    margin: 0.3rem 0;
}

@media (min-width: 40rem) {
    .toggle-button {
        display: none;
    }
}

/*--javascript function class ---*/
.open {
    display: block;
}

/*-------------------------------- start of footer parts-------------------------------------------------------
--------------------------------------------------------------------------------------------------------------*/
.main-footer {
    color: white;
    font-family: 'Open Sans', sans-serif;
    background: rgb(0, 119, 174);
    padding-top: 2rem;
    padding-bottom: 0.1rem;
    margin-top: 3rem;
    font-size: 1rem;
    position: relative;
}

#list-styles {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

#list-style {
    margin: 0.3rem;
    font-size: 0.85rem;
}

#list-style a {
    text-decoration: none;
    color: white;
}

#list-style a:hover,
#list-style a:active {
    color: rgb(154, 156, 156);
}

.copyright {
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    letter-spacing: 0.05rem;
}

@media (min-width: 24.8125rem) {
    .copyright {
        font-size: 0.8em;
        letter-spacing: 0.02rem;
    }
}

@media (min-width: 40rem) {
    #list-styles {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #list-style {
        margin: 0 1rem;
        font-size: 0.95rem;
    }

    .copyright {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0.3rem;
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
    }
}

/*------------------------------------ end of footer parts------------------------------------------------------

}