.sec-content {
    margin: 1rem;
    padding-top: 2rem;
}
.col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.col h1 {
    font-family: 'Juicebox';
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    padding: 0.3rem 0.3rem;
    margin-bottom: 0;
    margin-top: 1rem;
    color: rgb(24, 189, 106);
}

.img-container {
    display: flex;
    width: 80%;
    min-width: 210px;
    margin-top: 1rem;
    max-width: 432px;
}

img {
    width: 100%;
    border-radius: 50%;
    
    
}

.col p {
    padding: 0.25rem 0.25rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.09rem;
}

.col h3 {
    font-family: 'Juicebox';
    letter-spacing: 0.2rem;
    padding: 0.3rem 0.3rem;
    margin-bottom: 0;
    margin-top: 0.2rem;
}

.col h2 {
    font-family: 'Juicebox';
    letter-spacing: 0.2rem;
    margin: 0.5rem;
    color: rgb(24, 189, 106);
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

.icon {
    width: 25px;
}
.icon2 {
    width: 30px;
}
.icon3 {
    width: 20px;
}

.icon-img {
    width: 100%;
}

.contact-info p {
    margin-bottom: 0.1rem;
    margin-top: 0;
}
.add-text {
    font-size: 0.9rem;
}
.mail-text {
    font-size: 0.8rem;
}

.social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.social-icon {
    width: 28px;
    margin: 0 0.5rem;
    border-style: none;
}
.social-img {
    width: 100%;
    border-style: none;
}

.col1 , .col2 {
    display: none;
}

@media (min-width: 40rem) {
    .col {
        display: none;
    }
    .sec-content {
        margin: 1rem;
        padding-top: 2rem;
        display: grid;
        grid-template-columns: 60% 40%;
    }

    .col1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }
    .col1 h1 {
        font-family: 'Juicebox';
        font-size: 1.7rem;
        letter-spacing: 0.2rem;
        padding: 0.3rem 0.3rem;
        margin-bottom: 0;
        margin-top: 3rem;color: rgb(24, 189, 106);
    }
    
    .col1 .img-container {
        display: flex;
        width: 90%;
        min-width: 210px;
        margin-top: 1rem;
        max-width: 390px;
    }
    
    img {
        width: 100%;
        border-radius: 50%;
        
        
    }
    
    .col1 {
        padding: 0.25rem 0.25rem;
        font-family: sans-serif;
        letter-spacing: 0.09rem;
    }

    .col2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6rem;
        margin-left: 1rem;
        flex-wrap: wrap;
        text-align: center;
    }
    .col2 h3 {
        font-family: 'Juicebox';
        letter-spacing: 0.2rem;
        padding: 0.3rem 0.3rem;
        margin-bottom: 0;
        margin-top: 0.2rem;
    }
    
    .col2 h2 {
        font-family: 'Juicebox';
        letter-spacing: 0.2rem;
        margin: 0.5rem;color: rgb(24, 189, 106);
    }
    
    .contact-info {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
    
    .icon {
        width: 40px;
    }
    .icon2 {
        width: 40px;
    }
    .icon3 {
        width: 40px;
    }
    
    .icon-img {
        width: 100%;
    }
    
    .contact-info p {
        margin-bottom: 0.8rem;
        margin-top: 0;
    }
    .add-text {
        font-size: 1rem;
    }
    .mail-text {
        font-size: 0.9rem;
    }
    
    .social-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .social-icon {
        width: 40px;
        margin: 0 0.5rem;
        border-style: none;
    }
    .social-img {
        width: 100%;
        border-style: none;
    }
    
}

p {
    font-family: 'Montserrat', sans-serif;
}